[Desktop Entry]
Type=Application
Name=MixEngine
Comment=A local web development environment
Exec=mix
Icon=mixengine
Categories=Development;
Terminal=false
